{{#extend "layouts"}}

{{#content "main" mode="append"}}
<form action="/tag/updateOne" method="post">
    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" value="{{tag.tag_name}}">
    </div>
    <div class="mb-3">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" id="description" value="{{tag.description}}">
    </div>
    <div class="mb-3">
        <label for="parent">Parent</label>
        <select name="parent" id="" class="form-control">
            <option value="0" Default></option>
            {{#each tags}}
            <option {{compare id ../tag.parent}} value="{{id}}">{{tag_name}}</option>
            {{/each}}
        </select>
    </div>
    <input type="hidden" name="id" value="{{tag.id}}">
    <div class="mb-3">
        <input type="submit" name="submit" class="btn btn-primary" value="Submit">
        <input type="reset" class="btn btn-danger" value="Reset">
    </div>
    <img width="250px" src="/img/test.jpg" alt="">

    </div>
</form>
{{/content}}

{{/extend}}